/* Page Styles Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wrapper {
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
}

nav {
  font-weight: 400;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
nav ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

section {
  display: block;
  background: #CFF;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
}

#home {
  background: #fff;
  color: #000000;
  font-size: 30px;
}

#home-container {
  display: flex;
  justify-content: center;
}

#suit-image {
  width: 100%;
  max-width: 700px;
  height: auto;
}

#about {
  background: #fff;
  color: #000000;
  font-size: 30px;
}

#contact {
  background: #fff;
  color: #000000;
  font-size: 30px;
}
