/* Page Styles Here */
html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

main {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

section {
  display: block;
  background: #CFF;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
}

#home {
  background: #111816;
  color: #fff;
  font-size: 30px;
}

#about {
  background: #123037;
  color: #fff;
  font-size: 30px;
}

#contact {
  background: #74BE98;
  font-size: 30px;
}

header {
  display:flex;
  justify-content: space-between;
}
