@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

body {
  font-family: 'Digital';
}

#pomodoro-clock-root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00B5AD;
}

.application-title {
  text-align: center;
}

#pomodoro-clock {
  display: flex;
  flex-direction: column;
  color: #004066;
}

.timer-display .display {
  text-align: center;
  border-radius: 15px;
  border: 5px solid #004066;
  padding: 20px;
}

.timer-display .label {
  text-align: center;
  text-transform: capitalize;
}

#timer-lenght-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timer-length-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-length-control .label-quantity {
  text-align: center;
  text-transform: capitalize;
}

.timer-length-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-length-control .display {
  text-align: center;
}

#timer-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  cursor: pointer;
}