#pomodoro-clock-root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-title {
  text-align: center;
}

#pomodoro-clock {
  display: flex;
  flex-direction: column;
}

.timer-display .display {
  text-align: center;
}

.timer-display .label {
  text-align: center;
  text-transform: capitalize;
}

#timer-lenght-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timer-length-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-length-control .label-quantity {
  text-align: center;
  text-transform: capitalize;
}

.timer-length-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-length-control .display {
  text-align: center;
}

#timer-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  cursor: pointer;
}