/* Page Styles Here */
header {
  text-align: center;
}

textarea {
  resize: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  border-style: solid;
  border-radius: 10px;
  border-color: blue;
  border-width: 4px;
  padding: 15px 15px 15px 15px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
}

.form-row > select {
  flex: 2;
}

.survey {
  display: flex;
  flex-direction: column;
}

#survey-form {
  display: flex;
  flex-direction: column;
}
