html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #091034;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  height: 80px;
  background-color: #091034;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  padding: 10px;
  margin: 10px;;
  list-style: none;
}

#navbar a {
  display: block;
  text-decoration: none;
  color: #FBA90A;
}

section {
  display: block;
  background: #FFF;
  width:100%;
  padding-top: 80px;
  box-sizing: border-box;
}

.fullscreen {
  height: 100vh;
}

#welcome-section {
  background-color: #FBA90A;
}

#welcome-section h1 {
  color: #1430B8;
}

#welcome-section p {
  color: #183BF0;
}

#projects {
  background-color: #F7EBD4;
}

.project {
  text-decoration: none;
  color: #091034;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #091034;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid #091034;
}

.project-title {
  font-weight: bold;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBA90A;
  padding-bottom: 80px;
}

#contacts h2 {
  margin-bottom: 10px;
}

#contacts-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-icon {
  display: block;
  text-decoration: none;
  outline: none;
  color: #000000;
}

.fa {
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 1.0;
}

.fa-linkedin-square {
  background: #007BB6;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FBA90A;
  background-color: #091034;
}

#footer p {
  margin: 10px;
}

#footer a {
  color: #FBA90A;
}

@media max-width: 500px {

  .project {
    width: 100%;
  }

}
