html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  height: 130px;
}

#navbar ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#navbar a {
  display: block;
  text-decoration: none;
  color: #000000;
}

section {
  display: block;
  background: #FFF;
  height:100%;
  width:100%;
  padding-top: 130px;
  box-sizing: border-box;
}

#contacts {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.contact-icon {
  display: block;
  text-decoration: none;
  outline: none;
  color: #000000;
  margin: 15px;
}

.contact-icon i {
  font-size: 48px;
}
